.routines {
  min-height: 60vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBackgroundPrincipal {
  background-color: #3a2d78;
}

.colorSecundario {
  color: #fed215;
}

/* Esto es de rutinas */

.marginespacio {
  margin-top: 100px;
}

.Backgroundgray {
  background: #f4f5f7;
  height: 80px;
  width: 80px;
  border-radius: 100px;
}

.widthtextrutina {
  width: 220px;
  height: 100px;
}
