<section class="container routines col marginespacio">
  <div class="flex-center flex-column">
    <div class="flex-center">
      <h1 class="fw-bold">Tu rutina</h1>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-around w-100">
      <!-- <div class="d-flex justify-content-start">
       <img src="decoracion.png" width="100px" height="100px" alt="" srcset="">
     </div> -->
      <div class="mt-5 flex-center flex-column">
        <div class="Backgroundgray">
          <img src="../../../assets/img/logo_rutina1.png" alt="" />
        </div>
        <div class="flex-center flex-column mt-3">
          <h5 class="fw-normal">Crea tu rutina</h5>
          <p class="widthtextrutina text-center">
            Podras llevar un <br />
            calendario con tus <br />
            ejercicios.
          </p>
        </div>
      </div>

      <div class="mt-5 flex-center flex-column">
        <div class="Backgroundgray">
          <img src="../../../assets/img/logo_rutina2.png" alt="" srcset="" />
        </div>
        <div class="flex-center flex-column mt-3">
          <h5 class="fw-normal">Registra tus alimentos</h5>
          <p class="widthtextrutina text-center">
            Tu alimentación es <br />
            fundamental para ver ese <br />
            cambio que tanto esperas.
          </p>
        </div>
      </div>

      <div class="mt-5 flex-center flex-column">
        <div class="Backgroundgray">
          <img src="../../../assets/img/logo_rutina3.png" alt="" srcset="" />
        </div>
        <div class="flex-center flex-column mt-3">
          <h5 class="fw-normal">Realiza tus ejercicios</h5>
          <p class="widthtextrutina text-center">
            Realizar los ejercicios <br />
            fisicos correctamente <br />
            ayudara a tu cambio.
          </p>
        </div>
      </div>

      <div class="mt-5 flex-center flex-column">
        <div class="Backgroundgray">
          <img src="../../../assets/img/logo_rutina4.png" alt="" srcset="" />
        </div>
        <div class="flex-center flex-column mt-3">
          <h5 class="fw-normal">Ve por un cambio</h5>
          <p class="widthtextrutina text-center">
            Veras que todo esfuerzo <br />
            valio la pena.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
