<div class="container col mt-5">
  <div class="d-flex flex-column text-center align-items-center">
     <h1 class="fw-bold">Beneficios de llevar un <span class="border-bottom border-5 border-warning">registro de tus alimentos
     </span></h1>

     <h5 class="fw-normal mt-3">Registras durante un tiempo tus alimentos y cómo evoluciona tu cuerpo <br> (peso y grasa corporal), conocerás con más precisión tu metabolismo y <br> gasto energético real.</h5>
   </div>

   <div class="flex-center flex-wrap justify-content-evenly">
     <div class=" row justify-content-center">
       <div class="mt-5">
         <div class="widthcard colorBackgroundPrincipal flex-center bordercard">
           <img src="../../../assets/img/logo_beneficio1.png" width="267px" height="260px" alt="">
         </div>
         <div class="widthtext flex-center mt-4">
           <h4 class="w-75 fw-semibold">
             Aprendes sobre los alimentos y su efecto en tu cuerpo
           </h4>
         </div>
       </div>
   </div>
       <div class=" row justify-content-center">
         <div class="mt-5">
           <div class="widthcard colorBackgroundPrincipal flex-center bordercard">
             <img src="../../../assets/img/logo_beneficio2.png" width="267px" height="260px" alt="">
           </div>
           <div class="widthtext flex-center mt-4">
             <h4 class="w-75 fw-semibold">
               Ayuda a regular las hormonas
             </h4>
           </div>
         </div>
     </div>
     <div class="row justify-content-center">
       <div class="mt-5">
         <div class="widthcard colorBackgroundPrincipal flex-center bordercard">
           <img src="../../../assets/img/logo_beneficio3.png" width="267px" height="260px" alt="">
         </div>
         <div class="widthtext flex-center mt-4">
           <h4 class="w-50 fw-semibold">
             Mejora tu rendimiendo
           </h4>
         </div>
       </div>

  </div>
   </div>

</div>
