<section class="profile-section">
  <form class="form-container">
    <div class="flex-container">
      <div>
        <h3 class="form-heading">Informacion privada</h3>
        <figure class="figure-container">
          <img
            src="https://storage.googleapis.com/pfpai/styles/54cbed77-e370-4c76-bb74-fa98d8d6cc65.png?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=firebase-adminsdk-hu3sa%40stockai-362303.iam.gserviceaccount.com%2F20230411%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230411T020130Z&X-Goog-Expires=518400&X-Goog-SignedHeaders=host&X-Goog-Signature=71396c282dc94dbd7bebe5262c6295ae004fc2ee7f6cd13dcf85113eb66a9c3eb063670eca68bb6abf8a601da3e0577e4b8e6b3923cf0b4b0dcb9c1ee5ea41837be7d7dac246a6f34a8556794b1355a780153b1ece4cfa5419cfa7876428e572d2664de00d2cd607cc3fb64d4c24297cfb4a8d95dccc231078d1f75da9fc1ef67b1be812f0522dec3fa28a007e34fd10f006d72fc562f0acbe1b85f0fa707875c545e3b7ad13ccc7275b2fe40652249fdea72feef5a11752943255d8fa2f9be24936a1a969232e212c674220a4ca158db323320247b6f8107cd50a525b7da0d8568a50ccc2d0c56b6e92d1fc7547da9c7806de881c95546c07e2f0a619d50752"
            alt=""
          />
        </figure>
        <button class="profile-button">Guardar</button>
      </div>
      <button class="profile-button">Guardar cambios</button>
    </div>

    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" />
    </div>
    <div class="input-group">
      <label for="age">Edad</label>
      <input type="text" id="age" />
    </div>
    <div class="input-group">
      <label for="height">Altura</label>
      <input type="text" id="height" />
    </div>
    <div class="input-group">
      <label for="weight">Peso</label>
      <input type="text" id="weight" />
    </div>
  </form>

  <form class="form-container">
    <div class="input-group">
      <label for="password">Cambiar contaseña</label>
      <input type="text" id="password" />
    </div>
    <div class="input-group">
      <label for="email">Correo electronico</label>
      <input type="text" id="email" />
    </div>
  </form>
</section>
