<div [ngStyle]="{'backgroundImage':'url(assets/img/fondo-register.jpg)',
                 'height':'100vh',
                 'background-position':'center',
                 'background-repeat': 'no-repeat',
                 'background-size': 'cover'
                }"        
>

<div class="fondo">
    <div class="recuadro">
        <div class="formulario">
            <h2 class="text-white text-center">Registrate</h2>
            <form action="">
                <div class="m-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="m-3">
                    <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" >
                </div>
                <div class="m-3">
                    <label for="exampleFormControlInput1" class="form-label">Confirmar contraseña</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="m-3 boton">
                    <button>Confirmar</button>
                </div>
            </form>
                <div class="row">
                    <p class="text-white text-center">O con</p>
                    <div class="col-6">
                        <a href=""><img src="assets/img/logos_google-icon.png" class="img-fluid float-end" alt="Logo-google"></a>
                    </div>
                    <div class="col-6">
                        <a href=""><img src="assets/img/logos_facebook.png" class="img-fluid float-start" alt="Logo-facebook"></a>
                    </div>
                </div>
                
        </div>

    </div>

</div>

</div>
