<div [ngStyle]="{'backgroundImage':'url(assets/img/img-6.jpg)',
                 'height':'100vh',
                 'background-position':'center',
                 'background-repeat': 'no-repeat',
                 'background-size': 'cover'
                 
                }"        
>

<div class="row">
    <div class="col-md-4 col-sm-12" style="margin-top: 150px;">
        <h1 class="text-white text-center"><b>
            ¡Comienza a llevar <br> una vida saludable!
        </b></h1>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="" class="btn text-white boton">Empieza hoy</a>
    </div>
</div>
