<app-navbar></app-navbar>
<!-- <app-healthy></app-healthy> -->
<router-outlet></router-outlet>
<app-first-image></app-first-image>
<app-feeding></app-feeding>
<app-routines></app-routines>
<app-benefits></app-benefits>
<app-footer></app-footer>
<!-- <app-first-image></app-first-image> -->
 <!-- <app-healthy></app-healthy>
<app-feeding></app-feeding>
<app-routines></app-routines>
<app-benefits></app-benefits>
<app-footer></app-footer>
<app-navbar></app-navbar>
<p>quiere volver ya lo suponia, dandole like a la foto mia</p> -->
