<!--
<div class="container">
  <div class="row date-row">
    <div class="col">
      <button (click)="decrementDate()" class="btn btn-primary">&larr;</button>
    </div>
    <div class="col">
      <h4>{{ currentDate | date:'fullDate' }}</h4>
    </div>
    <div class="col">
      <button (click)="incrementDate()" class="btn btn-primary">&rarr;</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="openModal(content)">Buscar comida</button>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let food of selectedFoods">
      <ng-container *ngIf="food.date === (currentDate | date:'dd-MM-yyyy')">
        <div class="col-md-4">
          <div class="card food-card">
            <div class="card-body">
              {{ food.title }}
              <p>{{ currentDate | date:'fullDate' }}</p>
              <input type="checkbox" class="food-checkbox" /> < Agregar casilla>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div> -->

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Alimentos!</h4>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
  </div>

  <div class="modal-body">
    <p>Busca tu alimento del día</p>
    <form (ngSubmit)="search()">
      <input type="text" [(ngModel)]="searchTerm" autocomplete="off" placeholder="Escribe aquí para buscar..." name="searchTerm" class="search-input">
      <button type="submit" class="btn btn-primary">Buscar</button>
      <button type="button" class="btn btn-danger" (click)="clearResults()">Eliminar</button>
    </form>

    <ul>
      <li *ngFor="let product of dataToShowInModal?.products">
        <h5>{{ product.title }}</h5>
        <p>ID: {{ product.id }}</p>
        <img [src]="product.image" [alt]="product.title" width="100px" height="100px">
      </li>
    </ul>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary px-5 borderAlimentos" (click)="closeModal()">Cerrar</button>
  </div>
</ng-template> -->


<div class="container">
  <div class="contenido-afuera">
    <div class="date-row">
      <button (click)="decrementDate()" class="btn btn-primary date-button">&larr;</button>
      <h4 class="date-header">{{ currentDate | date:'fullDate' }}</h4>
      <button (click)="incrementDate()" class="btn btn-primary date-button">&rarr;</button>
    </div>

    <div class="row">
      <ng-container *ngFor="let food of selectedFoods">
        <ng-container *ngIf="food.date === (currentDate | date:'dd-MM-yyyy')">
          <div class="col-md-4">
            <div class="card food-card">
              <div class="card-body">
                {{ food.title }}
                <p>{{ currentDate | date:'fullDate' }}</p>

                <input type="text" class="food-checkbox" [name]="food.id" [(ngModel)]="food.selected" />
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Alimentos!</h4>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Cerrar"></button>
      </div>


<div class="modal-body">
  <p>Busca tu alimento del día</p>
  <form (ngSubmit)="search()">
    <input type="text" [(ngModel)]="searchTerm" autocomplete="off" placeholder="Escribe aquí para buscar..." name="searchTerm" class="search-input">
    <button type="submit" class="btn btn-primary">Buscar</button>
    <button type="button" class="btn btn-danger" (click)="clearResults()">Eliminar</button>
  </form>

  <ul>
    <li *ngFor="let product of dataToShowInModal?.products">
      <h5>{{ product.title }}</h5>
      <p>ID: {{ product.id }}</p>
      <img [src]="product.image" [alt]="product.title" width="100px" height="100px">
      <div class="checkbox-container">
        <input type="checkbox" [name]="product.id" (change)="onProductCheckboxChange(product, $event)" />
        <button class="btn btn-success confirm-button">confirm</button>
      </div>
    </li>
  </ul>
</div>



      <div class="modal-footer">
        <button type="button" class="btn btn-primary px-5 borderAlimentos" (click)="closeModal()">Cerrar</button>
      </div>
    </ng-template>

    <button class="btn btn-success" (click)="openModal(content)">Buscar comida</button>
  </div>
</div>
