<div class="container my-5">
    <div class="row mb-5">
        <div class="col-12 texto">
            <h1 class="titulo">Aprendé a llevar una rutina</h1>
            <h1 class="titulo1">Saludable</h1>
        </div>
    </div>

    <div class="row fondo">
        <div class="col-md-8 offset-md-4 col-sm-12 circulo" style="padding-left: 55px;">
            <img src="/assets/img/Ellipse 2.png" class="img-fluid" alt="">
        </div>
        <div class="row imagenes">
            <div class="col-md-4 text-center mb-5" style="padding-top: 100px;">
                <p> El entrenamiento muscular puede aumentar la fuerza de los huesos y la condición de los músculos. Además, puede ayudar a mantener un peso saludable o a bajar de peso.</p>
                <a href="" class="btn boton">Ver más</a>
            </div>
            <div class="col-md-4 text-center mb-5">
                <img src="assets/img/b1.jpg" class="img-fluid rounded" width="401px" alt="">
            </div>
            <div class="col-md-4 text-center mb-5">
                <img src="assets/img/b2.jpg" class="img-fluid rounded" width="375px" alt="">
            </div>
        </div>
    </div>
</div>

<div class="franja"></div>

