<!-- Empezando footer -->

<div class="w-100 h-50 colorBackgroundPrincipal">
  <div class="container col marginfooter">
    <div class="py-5 d-flex  flex-wrap gap-5 justify-content-end">
      <div class="pt-5 d-flex justify-content-center flex-column text-start ">
         <h4 class="colortextfooter mb-2">Product</h4>
         <p class="colortextfooter mt-5">Overview</p>
         <p class="colortextfooter">Features</p>
         <p class="colortextfooter">Tutorials</p>
         <p class="colortextfooter">Pricing</p>
         <p class="colortextfooter">Releases</p>
      </div>

      <div class="pt-5 d-flex justify-content-center flex-column text-start ">
        <h4 class="colortextfooter mb-2">Company</h4>
        <p class="colortextfooter mt-5">About</p>
        <p class="colortextfooter">Press</p>
        <p class="colortextfooter">Careers</p>
        <p class="colortextfooter">Contact</p>
        <p class="colortextfooter">Partners</p>
     </div>

     <div class="pt-5  d-flex justify-content-center flex-column text-start ">
      <h4 class="colortextfooter mb-2">Support</h4>
      <p class="colortextfooter mt-5">Help Center</p>
      <p class="colortextfooter">Terms of service</p>
      <p class="colortextfooter">Legal</p>
      <p class="colortextfooter">Privacy Policy</p>
      <p class="colortextfooter">Status</p>
   </div>
    </div>


  </div>
</div>

<!-- subfooter -->

<div class="w-100 bg-black py-4">

  <div class="container">
    <div class="flex-center gap-2 justify-content-end">
      <div class="colorcirculofooter">
        <img class="mx-2 my-2 p-1" src="../../../assets/img/instagram.svg" width="35px" height="35px" alt="" srcset="">
      </div>

      <div class="colorcirculofooter">
        <img class="mx-2 my-2 p-1" src="../../../assets/img/logofooter.svg" width="35px" height="35px" alt="" srcset="">
      </div>

      <div class="colorcirculofooter">
        <img class="mx-2 my-2 p-1" src="../../../assets/img/twitter.svg" width="35px" height="35px" alt="" srcset="">
      </div>

      <div class="colorcirculofooter">
        <img class="mx-2 my-2 p-1" src="../../../assets/img/youtube.svg" width="35px" height="35px" alt="" srcset="">
      </div>
    </div>
  </div>
</div>
