.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBackgroundPrincipal{
  background-color:#3A2D78;
}

.colorSecundario{
  color:#FED215;
}


/* Esto es de rutinas */

.Backgroundgray{
  background: #F4F5F7;
  height: 80px;
  width: 80px;
 border-radius: 100px;
}

.widthtextrutina{
  width: 220px;
  height: 100px;
}
