<section>
  <div></div>
  <form>
    <div class="form-content">
      <div class="input-group">
        <label for="">Email</label>
        <input type="email" name="email" required />
      </div>

      <div class="input-group">
        <label for="">Password</label>
        <input type="text" name="password" required />
      </div>

      <button type="submit">Iniciar sesion</button>

      <div class="center-content">
        <div>
          <p>¿Olvidates tu contraseña?</p>
          <div class="container-icons">
            <img src="../../../assets/img/logos_google-icon.png" alt="" />
            <img src="../../../assets/img/logos_facebook.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
