<div class="tarjeta">
<img src="assets/img/Cover Image.png" class="img-fluid" width="100%" alt="">
<div class="row">
    <div class="col-12 tarjetainterior shadow-sm p-3 mb-5 rounded">
        <div class="texto-tarjeta">
            <h3><b>Alimentación</b></h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum, quasi magni, molestias facilis blanditiis, fugit ducimus id dolores earum ex? Sed qui quia quidem. Unde necessitatibus adipisci reprehenderit id</p>
            <div class="text-center posicion-boton">
                <a routerDirection="forward"  [routerLink]="[ '/alimentacion' ]" class="btn boton">Ver mas</a>
            </div>
        </div>
    </div>
</div>
</div>
