<div class="colorBackgroundPrincipal">

</div>
<div class="tarjeta">
<img src="assets/img/Cover Image.png" class="img-fluid" width="100%" alt="">
<div class="row">
    <div class="col-12 tarjetainterior shadow-sm p-3 mb-5 rounded">
        <div class="texto-tarjeta tarjetaExclusive">
            <h3><b>Alimentación</b></h3>
            <br>
            <p>Organizar y elegir tus comidas es una forma efectiva de mantener una alimentación saludable y equilibrada. Con un planificador semanal de comidas, podrás planificar tus menús con anticipación, asegurándote de incluir una variedad de alimentos nutritivos y deliciosos en tu dieta.</p>
            <div class="text-center posicion-boton">
                <a  [routerLink]="[ '/alimentacion' ]" class="btn boton">Ver mas</a>
            </div>
        </div>
    </div>
</div>
</div>
